:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-left: 1rem;
}

li:hover {
  cursor: pointer;
  color: #386db2;
}

/* draw a cyan line below li */
li::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #386db2;
  transition: width 0.3s;
}

li:hover::after {
  background: #000;
}